.button {
	box-shadow: 0 5px 6px 1px rgba(194, 23, 118, 0.16);
	border-radius: 25px;
	background-color: #000000;
	background-image: linear-gradient(to right, #ff003c 0%, #9229a3 100%);
	color: #ffffff;
	font-family: "Open Sans - Semibold";
	font-size: 16px;
	font-weight: 400;
	border: none;
	padding: 15px 22px;
	cursor: pointer;
}

	:active, :hover, :focus {
	    outline: 0;
	    outline-offset: 0;
	}

	.button::after {
		content: " Заказать перевод";
		vertical-align: middle;
	}

.button-div-img {
	width: 15px;
	vertical-align: middle;
}

@media screen and (max-width: 340px) {
  .button::after {
    content: " Заказать";
    vertical-align: middle;
  }
}

.button-orange {
	box-shadow: 0 5px 6px 1px rgba(168, 71, 0, 0.36);
	border-radius: 26px;
	background-color: #000000;
	background-image: linear-gradient(to left, #ff6000 0%, #ff7e00 100%);
	color: #ffffff;
	font-family: "Open Sans - Semibold";
	font-size: 18px;
	font-weight: 400;
	padding: 14px 20px;
	border: none;
	cursor: pointer;

	&_span {
		vertical-align: middle;
	}
}

.button-div-img_slider {
	display: inline-block !important;
	vertical-align: middle;
}	
