.contacts {
	background-image: linear-gradient(to left, #9229a3 0%, #ff6400 100%);

	&-title {
		color: #ffffff;
		font-family: "Open Sans";
		font-size: 48px;
		font-weight: 700;
		margin: 0 auto;
		margin-top: 90px;
	}

	&-p {
		color: #ffffff;
		font-family: "Open Sans";
		font-size: 18px;
		font-weight: 400;
		text-align: center;
		margin-top: 36px;

		& span {
			font-family: "Open Sans";
			font-weight: 700;
		}
	}

	&-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		.contacts-wrap {
			display: flex;
			flex-direction: column;

			&-block {
				display: flex;
				align-items: center;

				.block-img {
					margin-right: 12px;
					height: 21px;
					width: 23px;
				}

				.block-title {
					color: #ffffff;
					font-family: "Open Sans";
					font-size: 20px;
					font-weight: 700;
				}
			}

			&-descr {
				display: flex;
				flex-direction: column;
				margin-left: 36px;

				& span {
					color: #ffffff;
					font-family: "Open Sans";
					font-size: 16px;
					font-weight: 400;

					.strong {
						font-family: "Open Sans";
						font-weight: 700;
					}
				}
			}
		}
	}

	&-form {
		background-color: #fff;
		text-align: center;
		margin-top: 56px;
		margin-bottom: 83px;
		padding: 64px 98px 56px;

		&-title {
			color: $orange;
			font-family: "Open Sans";
			font-size: 24px;
			font-weight: 700;
			text-align: center;
		}

		&-descr {
			margin-top: 23px;
			color: #212121;
			font-family: "Open Sans";
			font-size: 14px;
			font-weight: 400;
			text-align: center;
		}
		
		&-nameWrap {
			margin-top: 37px;
			display: flex;
			justify-content: space-between;
			align-items: center;

			&-name,
			&-phone {
				padding: 18px;
				border: 2px solid #a6a6a6;
				width: 100%;
				color: #a6a6a6;
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 400;
			}

			&-name {
				margin-right: 31px;
			}
		}

		&-email {
			margin-top: 16px;
			padding: 18px;
			border: 2px solid #a6a6a6;
			width: 100%;
			color: #a6a6a6;
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: 400;
		}

		&-hr {
			margin-top: 32px;
			background-color: #e8e8e8;
			border: 1px solid #e8e8e8;
		}

		&-selectWrap {
			margin-top: 32px;
			display: flex;
			justify-content: space-between;
			align-items: center;

			&-langOriginal,
			&-langTranslate {
				padding: 18px;
				border: 2px solid #a6a6a6;
				width: 100%;
				color: #a6a6a6;
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 400;
			}

			&-langOriginal {
				margin-right: 31px;
			}
		}

		&-subject {
			margin-top: 16px;
			padding: 18px;
			border: 2px solid #a6a6a6;
			width: 100%;
			color: #a6a6a6;
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: 400;
		}

		&-comments {
			margin-top: 16px;
			padding: 22px;
			border: 2px solid #a6a6a6;
			height: 108px;
			width: 100%;
			color: #a6a6a6;
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: 400;
			resize: none;
		}

		&-fileWrap {
			position: relative;

			&-file {
				padding-top: 18px;
				padding-bottom: 18px;
				width: 100%;
				opacity: 0;
				cursor: pointer;
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 99;
			}

			&-fileDiv {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 16px;
				width: 100%;
				opacity: 0.7;
				color: #212121;
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 400;
				border: 2px dashed #e1e1e1;
				background-color: #f0f0f0;
				padding-top: 18px;
				padding-bottom: 18px;

				& img {
					margin-right: 11px;
				}
			}
		}

		&-button {
			margin-top: 32px;
			padding: 15px 26px;
			color: #ffffff;
			font-family: "Open Sans";
			font-size: 20px;
			font-weight: 700;
			box-shadow: 0 5px 6px 1px rgba(194, 23, 118, 0.16);
			border: none;
			border-radius: 26px;
			background-image: linear-gradient(to right, #ff003c 0%, #9229a3 100%), linear-gradient(-75deg, #9229a3 0%, #ff003c 100%);
			cursor: pointer;
		}
	
	}
}